@use "global" as *;

.footer-nav {
    display: flex;
    gap: rem(16);
}

.footer-nav__group {
    width: 48.7%;
    display: flex;
    flex-direction: column;
    gap: rem(16);

    @include mq("md") {
        flex-direction: initial;
    }
}

.footer-nav__group:nth-child(2) {
    flex: 1;
}

.footer-nav__left-items,
.footer-nav__right-items {
    gap: rem(16);
    display: grid;
    align-content: start;

    @include mq("md") {
        width: 50%;
    }
}

.footer-nav__items {
    @include mq("md") {
        display: flex;
        flex-wrap: wrap;
        gap: rem(120);
    }
}

.footer-nav__item {
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(18 / 16);
    padding-left: rem(22);
    transition: opacity 0.3s ease;
    position: relative;
}

.footer-nav__item::before {
    content: "";
    position: absolute;
    top: rem(12);
    left: 0;
    background-image: url(../../assets/images/common/hitode.svg);
    width: rem(18);
    height: rem(18);
}

.footer-nav__item a {
    width: 100%;
    display: inline-block;
    padding: rem(12) 0;
}

.footer-nav__sub-items {
}

.footer-nav__sub-item {
    font-weight: $normal;
}

.footer-nav__sub-item a {
    display: inline-block;
    width: 100%;
    padding: rem(12) 0;
    transition: opacity 0.3s ease;
}

// ホバー
.footer-nav__item a:hover,
.footer-nav__sub-item a:hover {
    opacity: 0.6;
}
