@use "global" as *;

.global-nav {
  display: grid;
  grid-template-columns: 51% 49%;
  gap: rem(16);

  @include mq("md") {
    grid-template-columns: repeat(4, fit-content(182px));
    gap: calc(120 / 1080 * 100%);
  }
}

.global-nav--scroll {
  @extend .global-nav;
  overflow-y: auto;
  height: calc(100vh - rem(132));
  overscroll-behavior: none;
}

.global-nav__left-items,
.global-nav__right-items {
  gap: rem(16);
  display: grid;
  align-content: start;
}

.global-nav ul:nth-of-type(1) {
  order: 1;
}

.global-nav__left-items:nth-of-type(2) {
  order: 3;

  @include mq("md") {
    order: 1;
  }
}

.global-nav__right-items:nth-of-type(3) {
  order: 2;
}

.global-nav__right-items:nth-of-type(4) {
  order: 4;
}

.global-nav__item {
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
  padding-left: rem(22);
  transition: opacity 0.3s ease;
  position: relative;
}

.global-nav__item::before {
  content: "";
  position: absolute;
  top: rem(12);
  left: 0;
  background-image: url(../../assets/images/common/hitode.svg);
  width: rem(18);
  height: rem(18);
}

.global-nav__item a {
  width: 100%;
  display: inline-block;
  padding: rem(12) 0;
}

.global-nav__sub-items {
}

.global-nav__sub-item {
  font-weight: $normal;
}

.global-nav__sub-item a {
  display: inline-block;
  width: 100%;
  padding: rem(12) 0;
  transition: opacity 0.3s ease;
}

// ホバー
.global-nav__item a:hover,
.global-nav__sub-item:hover {
  opacity: 0.6;
}
