@use "global" as *;

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  background-color: rgb($green, 0.68);

  @include mq("md") {
    height: rem(90);
  }
}

.header__inner {
  display: flex;
  height: inherit;
  padding: 0 rem(15);

  @include mq("md") {
    padding-right: min(1.3vw, rem(20));
    padding-left: min(2.8vw, rem(40));
  }
}

.header__logo {
  z-index: 500;
  width: rem(102);
  height: inherit;
  @include mq("md") {
    width: rem(133);
  }
}

.header__logo a {
  height: inherit;
  display: grid;
  place-content: center;
}

.header__pc-nav {
  margin-left: auto;
}

.header__sp-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100dvh;
  padding-top: rem(92);
  transition:
    left 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  opacity: 0;
  background-color: $accent;
}

.header__sp-nav.is-active {
  left: 0;
  opacity: 1;
}
