@use "global" as *;

.voice {
}

.voice__inner {
}

.voice__title {
}

.voice__cards {
    position: relative;
    margin-top: rem(40);
}

.voice__cards::before {
    @include mq("md") {
        content: "";
        position: absolute;
        top: rem(-216);
        left: calc(50% - min(49vw, 38.75rem));
        background-image: url(../../assets/images/common/kingyo-voice.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: rem(301);
        height: rem(138);
    }
}

.voice__cards::after {
    @include mq("md") {
        content: "";
        position: absolute;
        bottom: rem(-205);
        right: 0;
        background-image: url(../../assets/images/common/tatu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: rem(71);
        height: rem(162);
    }
}

.voice__button {
    text-align: center;
    margin-top: rem(40);
    padding-bottom: rem(4);

    @include mq("md") {
        margin-top: rem(80);
    }
}
